{% include 'PPDP/head.html' %}
<body>
{% include 'PPDP/nav.html' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'PPDP/sidebar.html' %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Anon_Task{{ task.id }}: {{ task.task_text }}</h1>
                <h2>Data: {{task.data.data_text}}</h2>
                <h2>Model: {{task.anon_model.model_text}}</h2>
                <h2>Algorithm: {{ task.anon_algorithm.algorithm_text }}</h2>
                <h2>Parameters: {{ task.parameters }}</h2>
                {% if task.is_finished%}
                    <h2>Task Finished</h2>
                    {% if task.task_type > 0 %}
                        <li><a href="/PPDP/eval{{ task.result_set }}">Eval_Result</a></li>
                    {% else %}
                        <li><a href="/PPDP/anon{{ task.result_set }}">Anon_Result</a></li>
                    {% endif %}
                {% else %}
                    <p>Not Finished</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
