<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href={% url 'ppdp_index' %}>Tasks</a></li>
        <li><a href={% url 'high_index' %}>High Dimensional</a></li>
        <li><a href={% url 'missing_index' %}>High Missing Rate</a></li>
        <li><a href={% url 'rt_index' %}>Complex relational</a></li>
    </ul>
        <ul class="nav nav-sidebar">
        <li><a href={% url 'anon_index' %}>Anonymization Result</a></li>
        <li><a href={% url 'eval_index' %}>Evaluation Result</a></li>
    </ul>
</div>